name: Lint Code Base

on:
  push:
    branches: main
  pull_request:

jobs:
  lint:
    name: Lint Python
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/ruff-action@v3
      with:
        version: "0.11.0"
